// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-image {
  margin-left: 50px;
}

.liked {
  padding-left: 42%;
}

#sighting {
  font-weight: bold;
  font-size: 20px;
  display: inline;
}

.liked-image {
  border: solid;
  border-color: black;
  max-height: 200px
}

#place {
  display: inline;
  font-weight: none;
}
#gallery-title {
  text-align: center;
}

#descriptions {
  font-size: 15px;
}

.liked-info {
  text-align: center;
}

.panel-footer {
  min-height: 70px;
  max-height: 90px;
}

#box-size {
  min-height: 70px;
  max-height: 90px;
}

#gall-title {
  padding: 10px;
  padding-left: 20px;
  font-weight: bold;
}

h2 {
  text-align: center;
}
