// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-image {
  margin-left: 50px;
}

.liked {
  display: flex;
  padding: 20px;
}
