// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spacer {
	min-height: 40px;
	}

.window {
	min-height: 600px;
}

.about {
	background-color: black ;
}

.about  {
	color: white;
}

.footer {
	min-height: 100px;
}

.team_pic {
	max-height: 150px;
	border: solid;
	border-color: white;
}

.team-pictures {
	width: 100%;
	position: relative;
}

.profile-text {
	width: 100%;
}

.profile-pic-box {
	width: 25%;
}
#camilla {
	width: 25%;
	float: left;
/*	background-color: pink;*/
}

#craig { 
	width: 25%;
/*	background-color: yellow;*/
	float: left;
}

#nicole {
/*	background-color: lightblue;*/
	width: 25%;
	float: left;
}

#steve {
/*	background-color: blue;*/
	width: 25%;
	float: left;
}

.about_header {
margin-left: 30px;
}



