// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spacer {
	min-height: 40px;
	}

.window {
	min-height: 600px;
}

.about {
	text-align: center;
	font-size: 14px;
	min-height: 600px;
	color: #8b8b8b;
	background-color: black ;
}

.team {
	background-color: white;
}

.panel-footer {
	min-height: 150px;
  display: flex;
}

.footer {
	background-color: black;
	text-align: right;
	min-height: 20px;
}

.recent-info {
	min-height: 100px;
  padding-left: 15px;
}
.team_pic {
	max-height: 150px;
	border: solid;
	border-color: black;
}

.team-pictures {
	width: 100%;
	position: relative;
}

.profile-text {
	padding: 25px;

	border-color: black;
	text-align: center;
	width: 100%;
}

/*.profile-pic-box {
	width: 25%;
}*/

#cam-pic {
	margin-left: 25%;
}

#nic-pic {
	margin-left: 25%;
}

#cra-pic {
	margin-left: 25%;
}

#ste-pic {
	margin-left: 25%;
}

#camilla {
	width: 25%;
	float: left;
}

#craig {
	width: 25%;
	float: left;
}

#nicole {
	width: 25%;
	float: left;
}

#steve {
	width: 25%;
	float: left;
}

.easter-egg {
	text-align: center;
}

.team-title {
	text-align: center;
}

h4 {
	text-decoration: underline;
}

.sean-pic {
	text-align: center;
}

.footer {
	background-color: black;
	color: white;
}

#sean-round {
		border: solid;
	border-color: white;
}

.about-text {
	padding: 15px;
}

#like-button {
	font-size: 20px;
	text-align: center;
}

#bold-span {
	font-weight: bold;
}
