// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spacer {
	min-height: 40px;
	}

.window {
	min-height: 600px;
}

.about {

}

.footer {
	min-height: 100px;
}

.panel-footer {
  display: flex;
}

.recent-info {
  padding-left: 15px;
}