// Place all the styles related to the shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-image {
  margin-left: 50px;
}

.shop {
  height: 70px;
}

#item-details {
  width: 83%;
}

#name-price {
	  font-weight: bold;
}

#item-details {
  width: 75%;
}

#shop-box-size {
	min-height: 70px;
}

#buy-button {
	padding-left: 32px;
	padding-top: 8px;
  width: 17%
}


/*.shop-title {

}*/

.sean-shop {
	border: solid;
	border-color: black;
	max-height: 200px;
}

#shop-tag {
	text-align: center;
	 font-style: italic;
}

.shop-head {
	text-align: center;
}